:root {
  --sl-font: "Inter", ui-sans-serif, system-ui, sans-serif;
  --sl-font-mono: "JetBrains Mono", ui-monospace, monospace;
  --sl-color-accent-low: #0c2d48;
  --sl-color-accent: #38bdf8;
  --sl-color-accent-high: #bae6fd;
}

:root[data-theme="light"] {
  --sl-color-accent-low: #dbeafe;
  --sl-color-accent: #0284c7;
  --sl-color-accent-high: #0c4a6e;
}
